/*공통*/
.inner{
    max-width:1200px;
    margin:0 auto;
    position: relative;
    z-index:10;
}
/*헤더*/
/*메인*/
/*푸터*/
footer{
    background:#333;
    padding:3em 0;
    color:#ababab;
}
footer .c-red{
    color:#be1e2d;
}
.footer-info{
    display: flex;
}
.footer-info a{
    padding:0.3em 1.2em;
    border:1px solid #ababab;
    margin-left:0.7em;
}
.footer-info a:first-child{
    margin-left:0;
}
.footer-info a.cb-red{
    color:#be1e2d;
    border-color:#be1e2d;
}
.footer-address{
    margin:2em 0 1em;
    line-height: 1.8em;
    
}
.footer-address p{
    padding-top: 1em;
    border-top: 1px solid #5b5b5b;
    margin-top: 1em;
}