/*공통*/
.inner{
    max-width:1200px;
    margin:0 auto;
    position: relative;
    z-index:10;
}
/*헤더*/
header{
    background:#fff;
}
.header-inner{
    max-width:1820px;
    margin:0 auto;
}
.header-menu{
    max-width:870px;
    margin:0 auto;
    display:flex;
}
.header-menu a{
    padding:2em 0;
    margin:0 2em;
}
.header-menu a.on{
    color:#204496;
    border-bottom:2px solid #204496;
}
header .subcategory{
    display:none;
    opacity:0;
    transition: 0.8s all;
}
header .subcategory-menu{
    max-width: 870px;
    margin:0 auto;
    display: flex;
}
/*메인*/
/*푸터*/
footer{
    background:#333;
    padding:3em 0;
    color:#ababab;
}
footer .c-red{
    color:#be1e2d;
}
.footer-info{
    display: flex;
}
.footer-info a{
    padding:0.3em 1.2em;
    border:1px solid #ababab;
    margin-left:0.7em;
    position: relative;
    z-index:10;
}
.footer-info a:first-child{
    margin-left:0;
}
.footer-info a.cb-red{
    color:#be1e2d;
    border-color:#be1e2d;
}
.footer-info a .dropdown{
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    margin: 0;
    top: 36px;
    border: 1px solid #ababab;
}
.footer-info a .dropdown li{
    border-top:1px solid #ababab;
    padding:0.5em;
    cursor: pointer;
}
.footer-info a .dropdown li:first-child{
    border-top:0;
}
.footer-address{
    margin:2em 0 1em;
    line-height: 1.8em;
    
}
.footer-address p{
    padding-top: 1em;
    border-top: 1px solid #5b5b5b;
    margin-top: 1em;
}